<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Hot Topics</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
<!-- Responsive-->
<link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css')}}">
<!-- fevicon -->
<link rel="icon" href="{{ url_for('static',filename='images/fevicon.png')}}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.mCustomScrollbar.min.css')}}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script>
function validateForm() {
	var x = document.forms["report"]["rname"].value;
	if (x == "") {
	  alert("Textarea must be filled out");
	  return false;
	}
	if(document.getElementById('fake').checked == true) {   
         return true;   
	} else if(document.getElementById('real').checked == true){  
         return true;   
	}else{
		alert("Select one option");
		return false;
	}  
}
</script>
</head>
<body>
	
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-3">
					<div class="logo"><a href={{url_for( 'home' )}}><img src="{{ url_for('static',filename='images/logo.jpg')}}"></a></div>
				</div>
				<div class="col-sm-6">
					<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                           <a class="nav-item nav-link" href={{url_for('home')}}>Home</a>
                           
						    <div class="nav-item nav-link">
								<button class="dropbtn">Hot Topics</button>
								<!--<div class="dropdown-content">
									<a href="">Coronavirus</a>
									<a href="">Vaccination</a>
									<a href=""> Politics </a>
									<a href="">Economy</a>
									<a href="">Climate change</a>
									<a href="">Elections</a>
									<a href="">Sport</a>
									<a href="">More</a>
								</div>-->
								
						  	</div>
							  <a class="nav-item nav-link" data-toggle="modal" data-target="#aboutModal" role="button">About </a>
                           
                           <a class="nav-item nav-link" data-toggle="modal" data-target="#contactModal" role="button">Contact</a>
                        </div>
						
                    </div>
                    </nav>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="search_main">
                    <button class="submit_bt"><a class="nav-item nav-link" data-toggle="modal" data-target="#reportModal" role="button">Report Result</a></button>
				    </div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="copyrightModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" style="color:floralwhite ; font-size: 25px;">Copyright Policy</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <p>Except as permitted by the copyright law applicable to you, you may not reproduce or communicate any of the content on this website, including files downloadable from this website, without the permission of the copyright owner.</p>
			</div>
			<div class="modal-footer">
			  
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>

	  <div id="aboutModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" style="color:floralwhite ; font-size: 25px;">About Us</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  <blockquote class="blockquote">	
			  <p class="mb-2">  We monitor the  accuracy of news  in the form of debates, speeches, interviews and news releases online. Our goal is to apply the best practices of both journalism and scholarship, and to increase public knowledge and understanding.</p>
			  </blockquote>
			</div>
			<div class="modal-footer">
			  
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>

	  <div id="contactModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="color:floralwhite ; font-size: 25px;">Contact Us</h4>
                    <button type="button" class="close" data-dismiss="modal" id="closeButton">&times;</button>
                </div>
                <div class= "modal-body">
                    <form>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label" for="exampleInputName" style="color: black; font-size: 20px;">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control form-control" id="exampleInputName" placeholder="Enter name">
								</div></div>
							<div class="form-row ">
                                <label class="col-sm-2 col-form-label" for="exampleInputEmail3" style="color: black; font-size: 20px;">Email </label>
								<div class="col-sm-10">
                                    <input type="email" class="form-control form-control" id="exampleInputEmail3" placeholder="Enter email">
								</div>
                            </div>
							<div class="form-row ">
								<label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1" style="color: black; font-size: 20px;">Message</label>
								<div class="col-sm-10">
									<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your message"></textarea>
								</div>
							</div>
                            
                        
                        </div>
                        <div class="form-row">
							<button type="submit" class="btn btn-success btn-sm ml-auto">Submit</button>
                            <button type="button" class="btn btn-danger btn-sm ml-1" data-dismiss="modal">Cancel</button>
                                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


	<div id="reportModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="color:floralwhite ; font-size: 25px;">Report</h4>
                    <button type="button" class="close" data-dismiss="modal" id="closeButton">&times;</button>
                </div>
                <div class= "modal-body">
					<!--   PLEASE PROVIDE ACTION TO THE FORM-->
                    <form  name="report"    action ="{{url_for('home')}}"method ="POST">
                        <div class="form-row">
							<div class="col-sm-12">
                         		<p style="font-size:large; padding-left: 0%;">Enter the newspiece whose result you think is wrong</p>   
							</div>
						</div>
						<div class="form-row ">
                            <div class="col-sm-12">
								<textarea name="rname" class="form-control" id="enterText" placeholder="Enter TEXT"  ></textarea>
							</div>
                        </div>
						<div class="form-group row" style="padding-top: 5px;">
							
							<div class=" col-sm-10" >
								<div class="form-check form-check-inline">
									<label class="form-check-label" style="font-size:large;"><input type="radio" name="radio" id="fake"> Fake News</label>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label" style="font-size:large; padding-left: 5px;"><input type="radio" name="radio" id="real"> Real News</label>
								</div>
							</div>
						</div>
						<div class="form-row">
							
                            <button type="button" class="btn btn-primary btn-lg ml-auto" onclick="validateForm()">Report</button>
                                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<div class=" layout_padding promoted_sectipon">
		<div class="container">
			<h1 class="promoted_text">Headlines<span style="border-bottom: 5px solid #4bc714;"></span></h1>
			{{ pagination.links }}
			<table>
				{% for i in data.index %}

					<tr>
						
						<th>{{ i }}</th>
						<td>{{data['description'][i]}}</td>

					</tr>

				{% endfor %}
			</table>
			{{ pagination.links }}

		</div>
	</div>
	
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center" style="margin:20px 0">
		  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
		  <li class="page-item"><a class="page-link" href="#">1</a></li>
		  <li class="page-item"><a class="page-link" href="#">2</a></li>
		  <li class="page-item"><a class="page-link" href="#">3</a></li>
		  <li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	  </nav>

	<div class="layout_padding footer_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-4">
					<h1 class="quick_text">Reach us on </h1>
					<ul class="social-network social-circle">
						<li><a href="http://www.linkedin.com/in" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a></li>
						<li><a href="http://www.facebook.com/profile.php?id=" class="icoFacebook" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a></li>
                    	<li><a href="http://twitter.com" class="icoTwitter" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li><a href="http://google.com/+" class="icoGoogle" title="Google+"><i class="fa fa-google-plus fa-2x"></i></a></li>
                    	<li><a href="mailto:" class="icoMail" title="Mail"><i class="fa fa-envelope-o fa-2x"></i></a></li>
            		</ul>		
					
						
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<h1 class="quick_text">Quick links</h1>
					<div class="chevron_arrow"><img src="{{ url_for('static', filename='images/chevron-arrow.png')}}"><span class="padding-left"><a href="#">Search</a></span></div>
					<div class="chevron_arrow"><img src="{{ url_for('static', filename='images/chevron-arrow.png')}}"><span class="padding-left"><a href="#">Report Results</a></span></div>
					<div class="chevron_arrow"><img src="{{ url_for('static', filename='images/chevron-arrow.png')}}"><span class="padding-left"><a  data-toggle="modal" data-target="#aboutModal">About Us</a></span></div>
					<div class="chevron_arrow"><img src="{{ url_for('static', filename='images/chevron-arrow.png')}}"><span class="padding-left"><a  data-toggle="modal" data-target="#contactModal">Contact Us</a></span></div>
					<div class="chevron_arrow"><img src="{{ url_for('static', filename='images/chevron-arrow.png')}}"><span class="padding-left"><a  data-toggle="modal" data-target="#copyrightModal">Copyright Policy</a></span></div>
				</div>
				
				<div class="col-sm-12 col-md-12 col-lg-4">
					<h1 class="quick_text">Address</h1>
					<div class="dolor_text"><img src="{{ url_for('static', filename='images/home-icon.png')}}"><span class="padding-left">Indore</span></div>
					<div class="dolor_text"><img src="{{ url_for('static', filename='images/email-icon.png')}}"><span class="padding-left">CoolName@gmail.com</span></div>
					<div class="dolor_text"><img src="{{ url_for('static', filename='images/phone-icon.png')}}"><span class="padding-left">+12345678</span></div>
				</div>
			</div>
		</div>
	</div>


   





      <!-- Javascript files-->
      <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
      <script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
      <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{ url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
      <script src="{{ url_for('static',filename='js/plugin.js')}}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
      <script src="{{ url_for('static',filename='js/custom.js')}}"></script>
      <!-- javascript --> 
      <script src="{{ url_for('static',filename='js/owl.carousel.js')}}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 


</body>
</html>